<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/components/input-bar/input.css" rel="stylesheet">
</head>
<body>
    <div class="taskbar-container">
        <div class="taskbar-icon-container">
            <img src="/assets/tag-red.png">
            <img src="/assets/tag-yellow.png">
            <img src="/assets/tag-blue.png">
        </div>
        <div class="taskbar-input-textfield-container">
            <input class="taskbar-input-textfield" type="text" placeholder="What is your next task?">
        </div>
        <div class="taskbar-icon-container">
            <img src="/assets/time.png">
            <img src="/assets/day.png">
        </div>
    </div>
</body>
</html>